<header id="header">Guess Who!</header>

<div id="content-area">
  <div id="before-start" *ngIf="!round">
    <img class="images" [src]="questionMarkURL" alt="Click and play!">
    <clclr-select-containert>
      <select class="select-level" clrSelect [(ngModel)]="level">
        <option *ngFor="let n of levels" [ngValue]="n">{{n}}</option>
      </select>
    </clclr-select-containert>
    <button class="btn btn-primary" style="display: flex" (click)="play()">Play!</button>
  </div>

  <div id="game" *ngIf="round">
    <img [src]="round.url" alt="sorry, image is broken :(">

    <div class="btn-group">
      <button class="btn" [style]="{'background-color': answer? getBackgroundColor(name):'white'}"
              *ngFor="let name of round.names" (click)="setCurrentAnswer(name)">
        <clr-icon *ngIf="!answer && currentAnswer == name" shape="check"></clr-icon>
        <clr-icon *ngIf="name == round.correctName && answer" shape="success-standard"></clr-icon>
        <clr-icon *ngIf="name != round.correctName && answer" shape="times"></clr-icon>
        {{name}}
      </button>
    </div>

    <div id="result" *ngIf="answer">
      <clr-icon *ngIf="currentAnswer == round.correctName" shape="happy-face" size="48"></clr-icon>
      <clr-icon *ngIf="currentAnswer != round.correctName" shape="sad-face" size="48"></clr-icon>
    </div>
    <button *ngIf="!answer" class="btn btn-primary" (click)="answer=true">Check!</button>

    <button class="btn btn-primary" style="display: flex" (click)="play()">Play again!</button>
    <clclr-select-containert>
      <select class="select-level" clrSelect [(ngModel)]="level">
        <option *ngFor="let n of levels" [ngValue]="n">{{n}}</option>
      </select>
    </clclr-select-containert>
  </div>
</div>
<clr-spinner id="spinner" *ngIf="loading"></clr-spinner>


