<header id="header">Guess Who!</header>

<div id="content-area">
  <div id="before-start" *ngIf="!round">
    <img class="images" [src]="questionMarkURL" alt="Click and play!">
    <button class="btn btn-primary" style="display: flex"
            (click)="play()">{{isFirstTime ? 'Play!' : 'Play again!'}}</button>
  </div>

  <div id="game" *ngIf="round">
    <img class="images" [src]="round.url" alt="sorry, image is broken :(">

    <clr-button-group [clrMenuPosition]="'bottom-right'">
      <clr-button class="btn" [style]="{'background': answer? getBackgroundColor(name):undefined}"
                  *ngFor="let name of round.names" (click)="setCurrentAnswer(name)">
        <clr-icon *ngIf="!answer && currentAnswer == name" shape="check"></clr-icon>
        <clr-icon *ngIf="name == round.correctName && answer" shape="success-standard"></clr-icon>
        <clr-icon *ngIf="name != round.correctName && answer" shape="times"></clr-icon>
        {{name}}
      </clr-button>
    </clr-button-group>

    <button *ngIf="!answer" class="btn btn-info" (click)="showAnswer()">see answer</button>
    <clr-icon *ngIf="answer && currentAnswer == round.correctName" shape="happy-face"></clr-icon>
    <clr-icon *ngIf="answer && currentAnswer != round.correctName" shape="sad-face"></clr-icon>
    <button *ngIf="!answer" class="btn btn-primary">Check!</button>
  </div>
</div>
<clr-spinner id="spinner" *ngIf="loading"></clr-spinner>


